fastapi
uvicorn
langchain
langchain-community
langchain-anthropic
langchain-google-genai
langchain-ollama
ddgs
duckduckgo-search
pydantic
httpx
python-dotenv
langchain-nvidia-ai-endpoints
langchain-openai
